body {
	background: url(../img/background.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000;
	color: #fff;
	font-family: "Helvetica Neue", Arial, serif;
	font-size: 16px;
	text-align: center;
}

a {
	color: #e51e21;
}

a:hover {
	color: #e51e21;
}


.container {
	position: relative;
	width: 90%;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	padding-left: 0;
	padding-right: 0;
}

.artwork {
	width: 100%;
	position: relative;
	margin: 5vh auto 16px;
}

.logo {
	position: relative;
	margin-bottom: 4px;
}

.logo.signup {
	text-align: left;
	padding: 0;
}

.info {
	margin-bottom: 16px;
}

.info img {
	height: 20px;
	margin-bottom: 4px;
}

.info .row {
	margin-bottom: 8px;
	text-align: left;
}

.emblem {
	margin-left: -15px;
	height: 64px;
	width: 64px;
}

#mc_embed_signup {
	max-width: 360px;
	margin: 16px 0;
	text-align: left;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#mc_embed_signup input, .response {
	width: 100%;
	margin-bottom: 5px;
	padding: 6px 16px;
	border: none;
	border-radius: 0;
	color: #fff;
	background-color: #e51e21;
	text-align: left;
}

#mc_embed_signup .button {
	width: min-content;
	font-family: 'ITCAvantGardeGothW04-Bo 1122872', "Helvetica Neue", Arial, serif;
	border: none;
	color: #002366;
	background-color: #fff;
	border: 1px solid #fff;
}

#mc_embed_signup .button:hover {
	color: #fff;
	background-color: transparent;
}

#mc_embed_signup .button:focus,
#mc_embed_signup .button:active {
	color: #fff;
	background-color: #002366;
}



.mc-field-group > input {
	color: #fff;
	text-align: center;
}

.indicates-required {
	margin: 32px -15px;
	font-size: 12px;
	text-align: left;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: "Helvetica Neue", Arial, serif;
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: "Helvetica Neue", Arial, serif;
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: "Helvetica Neue", Arial, serif;
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: "Helvetica Neue", Arial, serif;
  color: #fff;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 

	.info img {
		height: 40px;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

	#mc_embed_signup {
		margin: 0;
	}

	.form-message {
		position: absolute;
		bottom: -0.8%;
		left: 0;
	}

	.emblem {
		position: absolute;
		bottom: 16px;
		right: 0;
		margin-left: 0;
	}

}


